info
{display:block;
text-align:center;
padding-top: 140px; 
margin:10px 20px 10px 20px;
margin-top:12pt;
font-size:15pt;
font-family: Roboto Light;}
name
{}
surname
{}
middle-name
{}
univercity
{}
faculty
{}
specialization
{}
group
{}
course
{}
bg
{background: url(../img/bg-02.png) no-repeat center center fixed;}